<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menuId="navId"></ion-menu-button>
    </ion-buttons> 
    <ion-title>Leaderboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar showCancelButton="focus" (ionInput)="filter($event)"></ion-searchbar>
  <div *ngIf="isLoading" class="ion-text-center">
    <ion-spinner color="primary"></ion-spinner>
  </div>  
  <p *ngIf="!isLoading && loadedSocs.length <= 0" class="ion-text-center">
    No SOCs found.
  </p>
  <p *ngIf="!isLoading && loadedSocs.length > 0 && listSocs.length <= 0" class="ion-text-center">
    SOC not found.
  </p>
  <ion-list *ngIf="!isLoading && listSocs.length > 0">
    <ion-item 
      *ngFor="let soc of listSocs"
      [routerLink]="['/', 'leaderboard', soc.id]"
      detail
    >
    {{ soc.name }}
    </ion-item>
  </ion-list>
</ion-content>
