<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="view-soc"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit SOC</ion-title>
    <ion-buttons *ngIf="!isLoading" slot="primary">
      <ion-button [disabled]="!form.valid">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form *ngIf="!isLoading" [formGroup]="form">
    <!-- Value : {{ form.value | json}} -->
    <ion-grid>
      <ion-row> 
        <ion-col size-sm="6" offset-sm="3"> 
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input 
              type="text" 
              autocomplete 
              autocorrect 
              formControlName="name"
              readonly = "{{ !edit }}"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row> 
      <ion-row> 
        <ion-col size-sm="6" offset-sm="3"> 
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-input 
              type="text" 
              autocomplete 
              autocorrect 
              formControlName="description"
              readonly = "{{ !edit }}"
            ></ion-input>
          </ion-item>        
        </ion-col>                
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3"> 
          <ion-item>
            <ion-label position="floating">Percentage</ion-label>
            <ion-input 
              type="number" 
              autocomplete 
              autocorrect 
              formControlName="percentage"
              readonly = "{{ !edit }}"
            ></ion-input>
          </ion-item>        
        </ion-col>
      </ion-row>      
      <div formArrayName="questions">
          <div *ngFor="let question of form['controls'].questions['controls']; let iQ = index">
              <div formGroupName="{{iQ}}">
                <ion-row>
                  <ion-col size-sm="6" offset-sm="3">
                    <hr>
                    <ion-item>
                      <ion-label position="floating">Question</ion-label>
                      <ion-input 
                        type="text" 
                        autocomplete 
                        autocorrect 
                        formControlName="questionName"
                        readonly = "{{ !edit }}"
                      ></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="edit">
                  <ion-col size-sm="3" offset-sm="3">
                    <ion-button color="primary" size="full" (click)="addAnswer(iQ)">Add Answer</ion-button>
                  </ion-col>
                  <ion-col size-sm="3">
                    <ion-button color="danger" size="full" (click)="deleteQuestion(iQ)">Delete Question</ion-button>
                  </ion-col>
                </ion-row>             
                <div formArrayName="answers">
                    <div *ngFor="let answer of question['controls'].answers['controls']; let iA = index">
                      <div formGroupName="{{iA}}">
                        <ion-row>
                          <ion-col size-sm="6" offset-sm="3">
                            <ion-item>
                              <ion-label position="floating">{{ iA === 0 ? 'Correct Answer' : 'Answer'}}</ion-label>
                              <ion-input 
                                type="text" 
                                autocomplete 
                                autocorrect 
                                formControlName="answerName"
                                readonly = "{{ !edit }}"
                              ></ion-input>
                            </ion-item>
                          </ion-col>                          
                        </ion-row>  
                        <ion-row *ngIf="edit">
                          <ion-col size-sm="6" offset-sm="3">
                            <ion-button color="danger" size="full" (click)="deleteAnswer(iA, iQ)">Delete Answer</ion-button>
                          </ion-col>
                        </ion-row>  
                      </div>                      
                    </div>
                </div>
              </div>
            </div>
      </div>
      <ion-row *ngIf="edit"> 
        <ion-col size-sm="6" offset-sm="3">
          <ion-button color="primary" size="full" (click)="addQuestion()">Add Question</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
