<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menuId="navId"></ion-menu-button>
    </ion-buttons>    
    <ion-title>Search</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/socs/tabs/search/new">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ loadedSocs[0].title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ loadedSocs[0].description }} </p>
          </ion-card-content>
          <div class="ion-text-right">
            <ion-button 
              fill="clear" 
              color="primary" 
              [routerLink]="['/', 'socs', 'tabs', 'search', loadedSocs[0].id]"
              >
              More
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-virtual-scroll 
          [items]="listedLoadedPlaces"
          approxItemHeight="60px"
        >
          <ion-item 
            [routerLink]="['/', 'socs', 'tabs', 'search', soc.id]"
            detail
            *virtualItem="let soc"
          >
            <ion-label>
              <h2>{{ soc.title }}</h2>
              <p>{{ soc.description }}</p>
            </ion-label>
          </ion-item>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
