.incorrect {
    background-color: #ffabab;
}

.incorrectText {
    color: #c0392b;
    font-weight: bold;
}

.incorrectAnswer{
    color: #c0392b;
}

.incorrectButton {
    background-color: #e74c3c;
    box-shadow: 0px 5px 0px 0px #c0392b;
    float: center;
}

.correct {
    background-color: #c0ffad;
}

.correctText {
    color: #27ae60;
    font-weight: bold;
}

.correctButton {
    background-color: #2ecc71;
    box-shadow: 0px 5px 0px 0px #27ae60;
    float: center;
}

section:not(.full-width),
  .full-width > header {
    padding: 0 10px;
}

ion-button,
ion-button:disabled,
ion-button[disabled]{
    color: #fff;
    margin: 20px;
    font-weight: bold;
}

progress {
	display:inline-block;
	width: 100%;
	height: 10px;
	border-radius: 5px;
}
progress::-webkit-progress-bar {
	background-color: #b9b9b9;
	border-radius: 5px;
}
progress::-webkit-progress-value {
	background: #2ecc71;
	border-radius: 5px;
}