<ion-header>
  <ion-toolbar>
    <ion-title>{{ isLoading ? 'Loading..' : soc.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="isLoadingQuestion" class="ion-text-center">
    <ion-spinner color="primary"></ion-spinner>
  </div>  
  <ion-grid *ngIf="!isLoadingProgress" class="ion-text-center">
    <progress id="progressBar" max="{{ questions.length }}" value="{{ progress }}"></progress>
  </ion-grid>
  <ion-grid *ngIf="!isLoadingQuestion" class="ion-text-center">
    <h2>{{ question.name }}</h2>
  </ion-grid>
  <ion-grid *ngIf="!isLoadingAnswer" class="ion-text-center">
    <section class="fullWidth" *ngFor="let answer of answers">
      <ion-button 
        #button
        (click)="runAll(question.id, question.name, answer.isAnswer, answers.indexOf(answer))" 
        expand="block" 
        fill="clear" 
        [style.background-color]="toggle[answers.indexOf(answer)] ? '#55acee' : correct ? '#2ecc71' : '#e74c3c'"
        [style.box-shadow]="toggle[answers.indexOf(answer)] ? '0px 5px 0px 0px #3C93D5' : correct ? '0px 5px 0px 0px #27ae60' : '0px 5px 0px 0px #c0392b'"
        size="large" 
        color="light"
        class="ion-text-wrap tallerButton"        
      >
        {{ answer.name }}
      </ion-button>
    </section>  
  </ion-grid>  
</ion-content>
<ion-footer no-border class="correct" *ngIf="answered && correct">
  <ion-grid class="ion-padding">
    <h3 class="correctText">You are correct</h3>
    <ion-button [routerLink]="[url]" (click)="reset()" expand="block" fill="clear" class="correctButton">Continue</ion-button>
  </ion-grid>
</ion-footer>
<ion-footer no-border class="incorrect" *ngIf="answered && !correct">
  <ion-grid class="ion-padding">
    <h3 class="incorrectText">You are incorrect</h3>
    <h5 class="incorrectAnswer">The correct answer is: <br>{{ correctAnswer }}</h5>
    <ion-button [routerLink]="[url]" (click)="reset()" expand="block" fill="clear" class="incorrectButton">Continue</ion-button>
  </ion-grid>  
</ion-footer>
