ion-content {
    div {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    h1 { 
        color: #111; 
        font-size: 275px; 
        font-weight: bold; 
        letter-spacing: -1px; 
        line-height: 1; 
        text-align: center; 
    }
}
   