<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="view-soc"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isLoading ? 'Loading..' : soc.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!isLoading && !isLoadingQuestions">
    <!-- [routerLink]="['/take-soc', soc.id, questions[0].id]" -->
    <ion-button *ngIf="!started" size="large" (click)="startSoc()">
      Start
    </ion-button>
    <h1 *ngIf="started">{{ countdown }}</h1>
   </div>
  
</ion-content>
