<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menuId="navId"></ion-menu-button>
    </ion-buttons>    
    <ion-title>Search</ion-title>
    <ion-buttons slot="primary" *ngIf="!isLoadingUser && userData.role > 1">
      <ion-button routerLink="/view-soc/cud-soc">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar showCancelButton="focus" (ionInput)="filter($event)"></ion-searchbar>
  <div *ngIf="isLoading" class="ion-text-center">
    <ion-spinner color="primary"></ion-spinner>
  </div>  
  <p *ngIf="!isLoading && loadedSocs.length > 0 && listSocs.length <= 0" class="ion-text-center">
    SOC not found.
  </p>
  <ion-list *ngIf="!isLoading && !isLoadingSoc && listSocs.length > 0">
    <ion-item 
      *ngFor="let soc of listSocs"
      [routerLink]="['/', 'view-soc', soc.id]"
      detail
    >
    {{ soc.name }}
    </ion-item>
  </ion-list>
</ion-content>
