<ion-header>
  <ion-toolbar>
    <ion-title>{{ isLoading ? 'Loading..' : soc.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoadingQuestion" class="ion-text-center">
    <ion-spinner color="primary"></ion-spinner>
  </div>  
  <ion-grid *ngIf="!isLoadingQuestion" class="ion-text-center">
    <p>{{ question.name }}</p>
  </ion-grid>
  <ion-grid *ngIf="!isLoadingAnswer" class="ion-text-center">
    <ion-list>
      <ion-item *ngFor="let answer of answers">
        <ion-label (click)="checkAnswer(question.id, question.name, answer.isAnswer)">{{ answer.name }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>
  <div *ngIf="correct && answered">
    Correct! <br>
    <ion-button [routerLink]="[url]" (click)="reset()"> Next question</ion-button>
  </div>
  <div *ngIf="!correct && answered">
    Incorrect! <br>
    <ion-button [routerLink]="[url]" (click)="reset()"> Next question</ion-button>
  </div>
</ion-content>
