<ion-header>
  <ion-toolbar>
    <ion-title>{{ isLoading ? 'Loading..' : soc.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="isLoadingQuestion" class="ion-text-center">
    <ion-spinner color="primary"></ion-spinner>
  </div>  
  <ion-grid *ngIf="!isLoadingQuestion" class="ion-text-center">
    <h2>{{ question.name }}</h2>
  </ion-grid>
  <ion-grid *ngIf="!isLoadingAnswer" class="ion-text-center">
    <section class="fullWidth" *ngFor="let answer of answers">
      <ion-button (click)="checkAnswer(question.id, question.name, answer.isAnswer)" expand="full" size="large" text-wrap color="primary">{{ answer.name }}</ion-button>
    </section>
    <!-- <h4 (click)="checkAnswer(question.id, question.name, answer.isAnswer)">{{ answer.name }}</h4> -->
  </ion-grid>  
</ion-content>
<ion-footer no-border class="correct" *ngIf="answered && correct">
  <ion-grid class="ion-padding">
    <h3 class="correctText">You are correct</h3>
    <ion-button [routerLink]="[url]" (click)="reset()" expand="block" color="success" style="float: center;">Continue</ion-button>
  </ion-grid>
</ion-footer>
<ion-footer no-border class="incorrect" *ngIf="answered && !correct">
  <ion-grid class="ion-padding">
    <h3 class="incorrectText">Correct answer:</h3>
    <p class="incorrectAnswer">{{ correctAnswer }}</p>
    <ion-button [routerLink]="[url]" (click)="reset()" expand="block" color="danger" style="float: center;">Continue</ion-button>
  </ion-grid>  
</ion-footer>
