.incorrect {
    background-color: #ffabab;
}

.incorrectText {
    color: #d30000;
    font-weight: bold;
}

.incorrectAnswer{
    color: #d30000;
}

.correct {
    background-color: #c0ffad;
}

.correctText {
    color: #208800;
    font-weight: bold;
}

section:not(.full-width),
  .full-width > header {
    padding: 0 10px;
  }