<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="socs/tabs/search"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isLoading ? 'Loading..' : soc.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button [routerLink]="['question', questions[0].id]">
    Start
  </ion-button>
  <!-- <ion-grid class="ion-text-center">
    <h1>{{ questions[0].name }}</h1>
  </ion-grid>  
  <ion-segment color="primary" class="ion-text-center">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-segment-button [routerLink]="['/socs']">
            <ion-label>Answer 1</ion-label>
          </ion-segment-button>
        </ion-col>        
      </ion-row> 
      <ion-row>
        <ion-col>
          <ion-segment-button>
            <ion-label>Answer 2</ion-label>
          </ion-segment-button>
        </ion-col>        
      </ion-row>   
      <ion-row>
        <ion-col>
          <ion-segment-button>
            <ion-label>Answer 3</ion-label>
          </ion-segment-button>
        </ion-col>        
      </ion-row>   
      <ion-row>
        <ion-col>
          <ion-segment-button>
            <ion-label>Answer 4</ion-label>
          </ion-segment-button>
        </ion-col>        
      </ion-row>      
    </ion-grid>    
  </ion-segment>   -->
</ion-content>
