<ion-header>
  <ion-toolbar>    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="socs/tabs/todo"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isLoading ? 'Loading...' : soc.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-grid class="ion-no-padding" *ngIf="!isLoading">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-padding ion-text-center">
        <p>{{ soc.description }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
