<ion-app>
  <ion-menu content-id="main" side="start" menuId="navId">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          McDonald's eLearning
        </ion-title>
      </ion-toolbar>      
    </ion-header>

    <ion-content> 
      <ion-list>
        <ion-menu-toggle menuId="navId">
          <ion-item lines="none" routerLink="view-soc">
            <ion-icon name="list" slot="start"></ion-icon>
            <ion-label>My SOCs</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menuId="navId" *ngIf="!isLoading">
          <ion-item lines="none" routerLink="{{ resultsUrl }}">
            <ion-icon name="Star" slot="start"></ion-icon>
            <ion-label>My Results</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menuId="navId" *ngIf="!isLoadingRole && userRole > 0">
          <ion-item lines="none" routerLink="review-soc">
            <ion-icon name="clipboard" slot="start"></ion-icon>
            <ion-label>Review SOCs</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menuId="navId">
          <ion-item lines="none" routerLink="leaderboard">
            <ion-icon name="trophy" slot="start"></ion-icon>
            <ion-label>Leaderboard</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menuId="navId">
          <ion-item lines="none" routerLink="{{ progressionUrl }}">
            <ion-icon name="trending-up" slot="start"></ion-icon>
            <ion-label>My Progression</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menuId="navId" *ngIf="!isLoadingRole && userRole > 0">
          <ion-item lines="none" routerLink="review-progression">
            <ion-icon name="trending-up" slot="start"></ion-icon>
            <ion-label>Review Progression</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menuId="navId" *ngIf="!isLoadingRole && userRole > 1">
          <ion-item lines="none" routerLink="admin">
            <ion-icon name="contact" slot="start"></ion-icon>
            <ion-label>Admin</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menuId="navId">
          <ion-item lines="none" (click)="onLogout()">
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>  
      </ion-list>
    </ion-content>    
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
